<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자페이지</title>
  <link rel="stylesheet" href="css/AdministratorPage.css">
  <script src="/js/home/AdministratorPage.js" defer></script>

</head>
<body>
  <h1 id="h1_1">관리자페이지</h1>
 

    <ul id="ul_1">
<li><h4 id="h4_1">회원관리</h4></li>
<li> <h4 id="h4_1">공지관리</h4></li>
<li> <h4 id="h4_1">로그인관리</h4></li>
<li> <h4 id="h4_1">가입관리</h4></li>
<li> <h4 id="h4_1">DB관리</h4></li>
 <li><h4 id="h4_1">이벤트관리</h4></li>
 <li><h4 id="h4_1">서비스관리</h4></li>
<li> <h4 id="h4_1">상품관리</h4></li>
<li> <h4 id="h4_1">포인프관리</h4></li>
<li> <h4 id="h4_1">유저관리</h4></li>
  <li> <h4 id="h4_1">결제관리</h4></li> 
   <li><h4 id="h4_1">수익확인</h4></li>
    </ul>
   
  
 
 
 

 
</body>
</html>