<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.css">
  <script src="/js/home/index.js" defer></script>
  <title>홈</title>
</head>
<body>
  <div id="mobile">핸드폰접속</div>
<div id="no-mobile">컴퓨터 접속 </div>

</body>
</html>